@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital@1&display=swap');

* {
  font-family: "Montserrat";
  font-weight: 500;
}

/* Navbar section */
#navbarDog {
  background-color: #F5EFE6;
}

#logo {
  height: 100px;
}

.nav-link {
  font-size: 20px;
  transition: font-size 0.4s;
}

.nav-link:hover {
  font-size: 25px;
}


/* Natalia css */
/* Here comes code for index page*/

/* Title */
#title {
  background-color: #F5EFE6;
}

.index-body {
  font-family: "Montserrat";
}

.header-h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  color: #7895B2;
  padding: 3% 3% 10% 3%
}

.index-page-h2 {
  font-family: "Montserrat";
  font-size: 2rem;
  line-height: 1;
}

.index-page-h3 {
  font-family: "Montserrat";
  line-height: 1;
}

.index-page-h5 {
  color: #7895B2;
  font-family: "Montserrat";
  padding: 3% 0% 3% 0%;
}

.index-page-h6 {
  color: #9eb3c9;
  font-family: "Montserrat";
  line-height: 1;
  padding-bottom: 2%;
}

.title-container h5 {
  margin-left: 3%;
}

.nav-item {
  padding: 0px 10px;
}

.index-btn-outline:hover {
  background-color: #71808e !important;
  color: #fff !important;
  border-color: #71808e !important;
}

.index-btn {
  background-color: #3e6285 !important;
  color: #fff !important;
  border-color: #3e6285 !important;
}

.index-btn:hover {
  background-color: #71808e !important;
  color: #fff !important;
  border-color: #71808e !important;
}


/* Feature section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5% !important;
}

.index-page-p {
  color: #8f8f8f;
}

.icon {
  color: #AEBDCA;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #7895B2;
}

/* Testimonial section */

.carousel-item {
  padding: 7% 15%;
}

#testimonials {
  color: #fff;
  text-align: center;
  background-color: #AEBDCA;
}

.testimonial-img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press {
  text-align: center;
  padding-top: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  color: #7895B2;
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Newsletter */

.newsletter {
  padding: 80px 0;
  background: #AEBDCA;
  font-family: "Montserrat";
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content h2 {
  color: #fff;
  margin-bottom: 40px;
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #3e6285;
}

.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #3e6285;
  color: #fff;
  font-weight: 600;
}

/* Call to action */
#cta {
  background-color: #F5EFE6;
  color: #7895B2;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  padding: 3%;
}

/* Footer section */
#footer {
  padding: 4%;
  text-align: center;
}

.footer-icon {
  color: #7895B2;
  margin: 20px 10px;
  text-decoration: none;

}

/* Adds color to hovering state (element.class.action in this order) */
a.footer-icon:hover {
  color: #41678e;
}

#title {
  text-align: center;
}

.header-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.header {
  flex-direction: column;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* How the website should look for tablets and mobile: */
@media (max-width: 992px) {
  .header-row {
    flex-direction: column;
    justify-content: center;
  }

  .img-fluid {
    width: 250px;
  }

  .button-row {
    flex-direction: column;
  }

  #newsletter {
    display: none;
  }

  .newsletter-button-row {
    display: none;
  }
}

/*Jonathan CSS - Product Page*/
.body-products {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}

.nav-link {
  font-size: 20px;
  transition: font-size 0.4s;
}

.nav-link:hover {
  font-size: 25px;
}

.header-products {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8DFCA;
  padding: 50px;
}

.main- {
  background-color: #AEBDCA;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-gallery img {
  background-color: transparent;
  width: 100%;
  height: 350px;
  padding: 10px;
  object-fit: contain;
  position: relative;
}

.product-container p {
  font-size: 30px;
}


.product-container img:hover {
  z-index: 9;
  transform: scale(1.3);
  transition: transform ease 0.5s;
  visibility: visible;
}


@media only screen and (max-width: 600px) {
  .product-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* END OF PRODUCT PAGE */

/* Adds color to hovering state (element.class.action in this order) */
a.footer-icon:hover {
  color: #41678e;
}

/*Dianas code for about and contact*/
/* code for about page*/
.about__body {
  background-color: #F5EFE6;
}

.about__container {
  margin: 5rem auto auto auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "about__header about__header about__header about__header about__header about__header about__header"
    "about__box--1 about__box--1 about__mid about__mid about__mid about__aside about__aside"
    "about__box--2 about__box--2 about__mid about__mid about__mid about__aside about__aside"
    "about__box--3 about__box--3 about__mid about__mid about__mid about__aside about__aside"
    "about__box--4 about__box--4 about__mid about__mid about__mid about__aside about__aside"
    "about__box--5 about__box--5 about__mid about__mid about__mid about__aside about__aside";
  background-color: #E8DFCA;
}

.about__header {
  grid-area: about__header;
}

.about__box--1 {
  grid-area: about__box--1;
}

.about__box--2 {
  grid-area: about__box--2;
}

.about__box--3 {
  grid-area: about__box--3;
}

.about__box--4 {
  grid-area: about__box--4;
}

.about__box--5 {
  grid-area: about__box--5;
}

.about__mid {
  height: 100%;
  grid-area: about__mid;
  padding-left: 10rem;
}

.about__gallery {
  width: 80%;
  overflow: hidden;
  border: .24rem solid #fff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

.about__gallery--wrapper {
  display: flex;
  width: 100%;
  animation: slide 16s infinite;
}

.about__gallery--img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.about__aside {
  height: 100%;
  grid-area: about__aside;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about__h1 {
  font-family: "Montserrat";
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.about__h2,
.about__aside--h2 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.about__box {
  display: flex;
  align-items: center;
  flex: 1;
  padding: .5rem;
}

.about__mid--sec {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  padding: 2rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.about__p--box,
.about__p--aside {
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.about__form {
  padding: 2rem;
  background-color: #7895B2;
  font-family: "Montserrat";
  border: .5rem dotted #AEBDCA;
}

.donate__list {
  padding: 1rem;
  list-style-type: circle;
}

@media (max-width: 990px) {

  .about__container,
  .about__mid,
  .about__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* END OF ABOUT PAGE*
/* code for contact page*/
.contact__body {
  background-color: #F5EFE6;
}

.contact__h1 {
  display: flex;
  justify-content: center;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.contact__form--container {
  background-color: #AEBDCA;
  border: solid #7895B2;
  padding: 1rem;
  box-shadow: .5rem .3rem black;
}

#contact input[type=text],
#contact textarea,
#contact input[type=submit],
#contact input[type=reset] {
  background-color: #fff;
  border: #3e6285;
}

.contact__information {
  padding: 2rem;
}

.contact__h3 {
  font-size: 2rem;
}

@media (max-width: 990px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* END OF CONTACT PAGE*/

/* Robins CSS, news page*/
.news__h1 {
  display: flex;
  justify-content: center;
}

.newsbody {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}

.leftcolumn {
  float: left;
  width: 65%;
}

.rightcolumn {
  float: right;
  width: 35%;

  padding-left: 20px;
}

.h1news {
  text-align: center;
  font-family: cursive;
}

.h2news {
  font-family: cursive;

}

.card {
  background-color: beige;
  padding: 25px;
  margin-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.slider-frame {
  overflow: hidden;
  height: 700px;
  width: 1200px;
  margin-left: 360px;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/*---------Slide Animation-----------*/

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }

  10% {
    left: 0px;
  }

  20% {
    left: 1200px;
  }

  30% {
    left: 1200px;
  }

  40% {
    left: 2400px;
  }

  50% {
    left: 2400px;
  }

  60% {
    left: 1200px;
  }

  70% {
    left: 1200px;
  }

  80% {
    left: 0px;
  }

  90% {
    left: 0px;
  }

  100% {
    left: 0px;
  }
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}